<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Göndər getsin</title>
</head>
<body>
<div class="container">
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Ad</th>
            <th>İstiqamət</th>
            <th>Tarix</th>
            <th>Telefon</th>
            <th>E-Mail</th>
            <th>Qeyd</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sender : ${senders}">
            <td th:text="${sender.name}" />
            <td th:text="${sender.destination}" />
            <td th:text="${sender.date}" />
            <td th:text="${sender.phone}" />
            <td th:text="${sender.mail}" />
            <td th:text="${sender.comment}" />
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>



