<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <!--<form action="#" th:action="@{/list}"
          th:object="${traveller}" method="GET">

        <button type="button" class="btn btn-info col-2">To Germany</button>
        <button type="button" class="btn btn-info col-2">To Azerbaijan</button>

        <input type="date" th:text="*{date}"
               class="form-control mb-4 col-4" placeholder="Date">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>-->


    <form th:action="@{/foo}" th:object="${traveller}" method="post">
        <input type="text" id="date" name="date" th:text="*{date}" />
        <button type="submit">Add</button>
    </form>

</head>
<body>
</body>
</html>
