<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/app.css"
          rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <hr>
        <p class="h4 mb-4">Traveller</p>
        <form action="#" th:action="@{/form}"
          th:object="${traveller}" method="POST">

            <h7>please select</h7>
            <select class="form-control mb-4 col-4" th:field="*{seeker}" required="required">
                <option th:value="true" th:text="Axtariram"></option>
                <option th:value="false" th:text="Gedirem"></option>
            </select>

            <input type="text" th:field="*{name}"
               class="form-control mb-4 col-4" placeholder="Name">
            <input type="date" th:field="*{date}"
               class="form-control mb-4 col-4" placeholder="Date">
            <input type="text" th:field="*{contact}"
               class="form-control mb-4 col-4" placeholder="Phone">
            <input type="text" th:field="*{mail}"
                   class="form-control mb-4 col-4" placeholder="Mail">
            <!--<input type="text" th:field="*{destination}"
               class="form-control mb-4 col-4" placeholder="Destination">-->
            <select class="form-control mb-4 col-4" th:field="*{destination}" required="required">
                <option th:value="null" th:text="'please select'">--</option>
                <option th:value="'Azərbaycana'" th:text="AZE"></option>
                <option th:value="'Almaniyaya'" th:text="GER"></option>
            </select>
            <input type="text" th:field="*{comment}"
               class="form-control mb-4 col-4" placeholder="Comment">

            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>
        <hr>
        <a th:href="@{index}">Back to future</a>
    </div>
</body>
</html>










